{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Password Recovery" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-purple rounded-3 p-4">
            <h2 class="text-center mb-4">{% trans "Recover Password" %}</h2>

            {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ form.non_field_errors }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans 'Close' %}"></button>
                </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-purple btn-block w-100">{% trans "Send Recovery Email" %}</button>
            </form>

            <!-- Adição dos links para login e recuperação de senha -->
            <div class="text-center mt-3">
                <a href="{% url 'login' %}">{% trans "Login" %}</a> |
                <a href="{% url 'register' %}">{% trans "Create an account" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
