{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Dashboard Home{% endblock %}

{% block content %}
    {% include 'dashboard/includes/header.html' %}
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card {{ usage_status }} text-white shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Total de Projetos</h5>
                    <p class="card-text">{{ total_projects }} Qtd</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card {{ usage_status }} text-white shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Total de Uso</h5>
                    <p class="card-text">{{ total_usage|floatformat:2 }} MB</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark text-white shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Total de Acessos</h5>
                    <p class="card-text">{{ total_access }} Cliques</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
