{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Projetos do Usuário{% endblock %}

{% block content %}
    {% include 'dashboard/includes/header.html' %}
    {% include 'dashboard/modals/upload_project.html' %} 

    <div class="container-fluid mb-4 mt-5">
        <!-- Título e Botão Novo Projeto -->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="h3 mb-0 text-white"><i class="fas fa-folder-open"></i> Projetos</h3>
            <div>
                <!-- Botão para abrir o modal de upload -->
                <button type="button" class="btn btn-purple" data-toggle="modal" data-target="#uploadModal">
                    <i class="fas fa-plus-square"></i> Novo Projeto
                </button>
                <!-- Botões de Ação -->
                <button id="unzipSelected" type="button" class="btn btn-success" style="display: none;">
                    <i class="fas fa-file-archive"></i> Descompactar
                </button>
                <button id="deleteSelected" type="button" class="btn btn-danger" style="display: none;">
                    <i class="fas fa-trash-alt"></i> Excluir
                </button>
            </div>
        </div>

        <!-- Card contendo a Tabela -->
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-dark table-striped table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th><input type="checkbox" id="selectAll" onclick="toggleSelectAll(this)"></th>
                                <th>Nome Projeto</th>
                                <th>Tipo</th>
                                <th>Tamanho</th>
                                <th>Permissão</th>
                                <th>Link Projeto</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in files_and_folders %}
                            <tr class="table-row">
                                <td><input type="checkbox" class="fileCheckbox" data-path="{{ item.path }}" onclick="toggleActionButtons()"></td>
                                <td>
                                    {% if item.type == 'Folder' %}
                                        <i class="fas fa-folder"></i>
                                        <a href="{% url 'project_detail' item.name %}" class="text-white hover-text-white">{{ item.name }}</a>
                                    {% else %}
                                        {{ item.name }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.type == 'Folder' %}
                                        Pasta
                                    {% elif item.type == 'Image' %}
                                        <i class="fas fa-file-image"></i> Imagem
                                    {% elif item.type == 'CSS' %}
                                        <i class="fab fa-css3-alt"></i> CSS
                                    {% elif item.type == 'JS' %}
                                        <i class="fab fa-js"></i> JavaScript
                                    {% elif item.type == 'PDF' %}
                                        <i class="fas fa-file-pdf"></i> PDF
                                    {% elif item.type == 'Excel' %}
                                        <i class="fas fa-file-excel"></i> Excel
                                    {% elif item.type == 'HTML' %}
                                        <i class="fab fa-html5"></i> HTML
                                    {% elif item.type == 'ZIP' %}
                                        <i class="fas fa-file-archive"></i> Arquivo ZIP
                                    {% else %}
                                        <i class="fas fa-file-alt"></i> Arquivo
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.size != '-' %}
                                        {{ item.size|filesizeformat }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{{ item.permissions }}</td>
                                <td>
                                    {% if item.type == 'Folder' %}
                                    <a href="https://{{ item.name }}.{{ request.get_host }}" target="_blank" class="hover-text-white">
                                        https://{{ item.name }}.{{ request.get_host }}
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const uploadProjectUrl = "{% url 'upload_to_home' %}";
        const unzipFileUrl = "{% url 'unzip_file' %}";
        const deleteFilesUrl = "{% url 'delete_file' %}";
        const csrfToken = '{{ csrf_token }}';

        // Função para deletar os arquivos
        function deleteFile(selectedFiles) {
            fetch(deleteFilesUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({ paths: selectedFiles })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showAlert('Arquivos deletados com sucesso!', 'success');
                    setTimeout(() => {
                        window.location.reload();
                    }, 2000);
                } else {
                    showAlert('Falha ao deletar: ' + data.message, 'danger');
                }
            })
            .catch(error => {
                showAlert('Erro: ' + error, 'danger');
                console.error('Error:', error);
            });
        }

    </script>
    <script src="{% static 'linux/js/toggle.js' %}"></script>
    <script src="{% static 'linux/js/upload.js' %}"></script>
    <script src="{% static 'linux/js/unzip.js' %}"></script>
{% endblock %}
