{% extends 'dashboard/base.html' %}

{% block title %}{{ current_project }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1 class="h3"><i class="fas fa-folder-open"></i> {{ current_project }}</h1>
    <a href="{% url 'projects' %}" class="btn btn-primary" style="background-color: #6f42c1; border-color: #6f42c1;">
        <i class="fas fa-undo"></i> Voltar
    </a>
</div>

<div class="table-responsive mt-4">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Size</th>
                <th>Permissions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in files_and_folders %}
            <tr>
                <td>
                    {% if item.type == 'Folder' %}
                        <i class="fas fa-folder"></i>
                        <a href="{% url 'project_detail' item.name %}" class="text-white">{{ item.name }}</a>
                    {% else %}
                        <i class="fas fa-file"></i>
                        <a href="#" class="text-white" onclick="openEditor('{{ item.path }}')">{{ item.name }}</a>
                    {% endif %}
                </td>
                <td>{{ item.type }}</td>
                <td>
                    {% if item.size != '-' %}
                        {{ item.size|filesizeformat }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ item.permissions }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal de Edição -->
<div id="editorModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="editor" style="height: 400px; width: 100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveFile()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
<script>
    let currentFilePath = '';

    function openEditor(filePath) {
        currentFilePath = filePath;

        fetch(`/get_file_content/?path=${filePath}`)
            .then(response => response.text())
            .then(data => {
                const editor = ace.edit("editor");
                editor.setTheme("ace/theme/monokai");
                editor.session.setMode("ace/mode/javascript");
                editor.setValue(data);
                $('#editorModal').modal('show');
            });
    }

    function saveFile() {
        const editor = ace.edit("editor");
        const content = editor.getValue();

        fetch(`/save_file_content/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'path': currentFilePath,
                'content': content
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert('File saved successfully');
                $('#editorModal').modal('hide');
            } else {
                alert('Failed to save file');
            }
        });
    }
</script>
{% endblock %}
